/TemplateCore/TemplateCore/bin
/TemplateCore/FrameworkCore/BasisFrameWork/bin
/TemplateCore/Application/bin
bin
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.AutoMapper/bin
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.Hangfire/bin
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.RabbitMQ/bin
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.Redis/bin
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.SqlSugarCore/bin
/TemplateCore/FrameworkCore/BasisFrameWork.Utilities/bin
/TemplateCore/Application/obj
/TemplateCore/TemplateCore/obj
/TemplateCore/TemplateCore/Logs
/TemplateCore/FrameworkCore/BasisFrameWork/obj
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.AutoMapper/obj
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.Hangfire/obj
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.RabbitMQ/obj
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.Redis/obj
/TemplateCore/FrameworkCore/BasisFrameWork.Extension.SqlSugarCore/obj
/TemplateCore/FrameworkCore/BasisFrameWork.Utilities/obj
